// Colors picked directly from provided mockup
$label-white: #ececec;
$context-blue: #3c566f;
$inset-background: #06090a;
$inset-border-gray: #0e1011;
$outer-border-gray: #14161a;
$outer-background: #090f14;
$title-background: #191b1cbd;
$title-white: #ffffff;
$connector-gray: #313133;
$connecter-border: #3f4142;
$sprite-frame-top: #6daeef;
$sprite-frame-middle: #6eaef0;
$sprite-frame-lower: #1e3246;
$sprite-frame-bottom: #6199d1;

.cool-background {
  background: url('/talent-calc-bg.png');
  background-repeat: repeat;
  // Note: The background doesn't tile perfectly, but looks reasonably good for this demo
  border: 1px solid $outer-border-gray;
}

.title-wrapper {
  background-color: $title-background;
  margin: 15px;
  padding: 10px;
}

.title-text {
  text-align: center;
  font-size: 1.5em;
  color: $title-white;
  margin-bottom: 0;
}
