// Colors picked directly from provided mockup
$label-white: #ececec;
$context-blue: #3c566f;
$inset-background: #06090a;
$inset-border-gray: #0e1011;
$outer-border-gray: #14161a;
$outer-background: #090f14;
$title-background: #191b1cbd;
$title-white: #ffffff;
$connector-gray: #313133;
$connecter-border: #3f4142;
$sprite-frame-top: #6daeef;
$sprite-frame-middle: #6eaef0;
$sprite-frame-lower: #1e3246;
$sprite-frame-bottom: #6199d1;

.cool-background {
  background: url('/talent-calc-bg.png');
  background-repeat: repeat;
  // Note: The background doesn't tile perfectly, but looks reasonably good for this demo
  border: 1px solid $outer-border-gray;
}

.title-wrapper {
  background-color: $title-background;
  margin: 15px;
  padding: 10px;
}

.title-text {
  text-align: center;
  font-size: 1.5em;
  color: $title-white;
  margin-bottom: 0;
}

.point-counter-col {
  margin-top: 30px;
}

.point-counter-wrapper {
  background-color: $inset-background;
  border: 1px solid $inset-border-gray;
  padding: 10px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.point-counter-numbers {
  color: $label-white;
  font-size: 1.5em;
}

.point-counter-label {
  color: $context-blue;
  font-size: 1.5em;
}

.talent-path {
  margin-top: 30px;
  margin-bottom: 50px;
}

.talent-path-label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $label-white;
  font-size: 1em;
  margin-bottom: 15px;
}

%sprite {
  width: 50px;
  height: 50px;
}

.sprite-chevrons {
  @extend %sprite;
  background: url('/talent-icons-sprite.png') 0 0;
}
.sprite-utensils {
  @extend %sprite;
  background: url('/talent-icons-sprite.png') -50px 0;
}
.sprite-cake {
  @extend %sprite;
  background: url('/talent-icons-sprite.png') -100px 0;
}
.sprite-crown {
  @extend %sprite;
  background: url('/talent-icons-sprite.png') -150px 0;
}
.sprite-ship {
  @extend %sprite;
  background: url('/talent-icons-sprite.png') -200px 0;
}
.sprite-diver {
  @extend %sprite;
  background: url('/talent-icons-sprite.png') -2500px 0;
}
.sprite-lightning {
  @extend %sprite;
  background: url('/talent-icons-sprite.png') -300px 0;
}
.sprite-skull {
  @extend %sprite;
  background: url('/talent-icons-sprite.png') -350px 0;
}

.sprite-frame {
  height: 58px;
  width: 58px;
  background: linear-gradient(0deg, $sprite-frame-bottom, $sprite-frame-lower 46%, $sprite-frame-middle 50%, $sprite-frame-top);

  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 2;
}

.sprite-frame:hover {
  cursor: pointer;
}

.sprite-frame.equipted {
  box-shadow: 0 0 5px rgba(255, 255, 255, .5);
}

.sprite-frame.un-equipted {
  filter: grayscale(100%);
  div {
    background-position-y: 50px;
  }
}

.sprite-frame.un-equipted.equipable:hover {
  div {
    background-position-y: 0px;
  }
}

.connector-line {
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  width: 15px;
  border-left: 2px solid $connecter-border;
  border-right: 2px solid $connecter-border;
  background-color: $connector-gray;
  opacity: 50%;
  position: relative;
  z-index: 1;
}

.connector-line.active {
  opacity: 100%;
}


@include media-breakpoint-up(md) {
  // When bigger than small screen, vertically center the point counter
  .point-counter-col {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .talent-path-label-wrapper {
    margin-bottom: 0;
  }

  .talent-path {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  // .connector-line-wrapper {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  .connector-line {
    width: 100px;
    height: 15px;
    left: -20px;
    border-top: 2px solid $connecter-border;
    border-bottom: 2px solid $connecter-border;
    border-left: none;
    border-right: none;
    margin-top: 21px;
    margin-bottom: 21px;
  }
}
